.ui-radiobutton {
    display:inline-block;
    cursor: pointer;
    vertical-align: middle;
    border: solid 1px #dfdfdf;
    @include border-radius(50%);
    height: 18px !important;
    width: 18px !important;

    &.checkbox{
        @include border-radius(50%);

        .fa-circle:before{
            position: relative;
            top: -1px;
            font-size: 12px;
            content: "\f111";
        }

        &.ui-state-disabled{
            @include border-radius(50%);
        }
    }
}

.ui-radiobutton-box {
    height: 15px !important;
    width: 15px !important;
    line-height: 1.125em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;

    &.ui-state-disabled{
        @include opacity(.5);
        background: #eee;
        @include border-radius(50%);
        width: 18px !important;
        height: 18px !important;
        position: relative;
        left: -1px;
    }
}

.ui-radiobutton-icon {
    display: block;
    font-size: 14px;
    line-height: inherit;
    margin-top: -1px;
    color: $color-primary;
    position: relative;
    top: 2px;
    left: 0px;
    
}
 
.ui-radiobutton, .ui-radiobutton-label {
    vertical-align: middle;
}