/*
Import
=========================== */
@import '../../../assets/sass/css3-mixins';
@import '../../../assets/sass/variable';

/*
Wrap Organization
=========================== */
.wrap-organization {
	overflow-x: auto;
	position: relative;
	background: #fff;
	@include transition('all 0.3s ease-in-out');

	.btn-zoom {
		overflow: hidden;
		display: block;
		width: 50px;
		height: 50px;
		text-align: center;
		border: solid 1px #dfdfdf;
		@extend .panel-shadow;
		@include border-radius(50%);
		position: absolute;
		top: 30px;
		left: 30px;
		color: $color-title;
		font-size: 18px;
		padding-top: 12px;
	}

	&.full {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999999999999;
		background: #fff;
		width: 100%;
		height: 100%;
		padding-top: 50px;
		padding-left: 75px;

		.btn-zoom {
			left: 100px;
		}

		.block {
			position: fixed;
		}
	}
	.ui-inputgroup {
		padding-left: 7px;
		padding-right: 7px;

		input,
		button {
			height: 45px;
		}

		button {
			border: solid 1px #dfdfdf;
			background: #fff;
			color: $color-content;
			cursor: pointer !important;
			margin: 10px 0 -10px -1px;

			&:hover {
				background: $color-primary;
				color: #fff;
				border: solid 1px $color-primary;
			}
		}
	}
}
@-moz-document url-prefix() {
	.b2b-custom-margin {
		margin: 0 37px 20px -7px !important;
	}
}

.btn-costcenter {
	width: 50px;
}

a.remove-item {
	color: $color-content;
	font-size: 12px;
	text-decoration: none;
	margin: 10px auto 0;
	display: table;

	.fa {
		margin-right: 5px;
	}

	&:hover {
		color: $color-primary;
	}
}

.btn-action {
	margin-top: 10px;

	.btn-sm {
		min-width: 80px;
	}
}

.table-cost-center {
	width: 100%;
	border: 0;
	padding: 0;

	tr,
	tr td {
		padding: 0;
		border: 0;
	}

	td.action {
		width: 30px;

		.btn-icon {
			height: 45px;
			position: relative;
			top: 5px;
		}
	}
}

/*
Wrap Organizatio
=========================== */
.wrap-org {
	position: relative;

	.list {
		border-right: solid 1px #efefef;
		margin-right: -1px;
		padding: 30px;
		min-height: 600px;
		background-color: #fafafa;
		position: relative;

		ul {
			padding: 0;
			margin: 0 -7px;
			list-style: none;

			li {
				display: block;
				margin-bottom: 10px;
				padding: 15px 20px;
				border: solid 1px #efefef;
				color: $color-content;
				text-decoration: none;
				font-weight: 500;
				@include border-radius(2px);
				@extend .panel-shadow;
				background-color: #fff;

				&:last-child {
					border-bottom: solid 1px #efefef;
				}

				.btn-icon {
					float: right;
					position: relative;
					top: -3px;
				}
			}
		}

		small {
			@include opacity(0.5);
		}
	}

	.main {
		padding: 30px;
		position: relative;
		border-left: solid 1px #efefef;
		.wrap-table {
			margin: 0 -3px 0 -1px;

			.ui-paginator-bottom {
				border: solid 1px red !important;
			}
		}
	}

	.block {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.8);
		z-index: 3;
		text-align: center;

		.content {
			display: block;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -15px;
			margin-left: -15px;
		}
	}
}

.label-option {
	margin-top: 10px;
	margin-bottom: 0px;
	display: block;
}

.table-form {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;

	th {
		&.w-30 {
			width: 30%;
		}
		&.w-50 {
			width: 50%;
		}
	}
	td.label {
		width: 100px;
	}

	td.point {
		width: 10px;
		text-align: center;
	}
}
.table-info.middle {
	td {
		&.w-60 {
			width: 60%;
		}
	}
}
