/*
Form Group
=========================== */
.form-group{
    border: solid 1px #dfdfdf;
    padding: 10px 15px;
    @include border-radius(4px);
    position: relative;

    label{
        display: block;
        font-weight: 500;
        color: $color-content;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        width: 100%;
    }

    input{
        display: block;
        width: 100%;
        border: 0;
        background: transparent;
        font-size: 14px;
        color: $color-content;

        &.border{
            border: solid 1px #efefefef;
        }
    }

    span.error{
        display: block;
        color: red;
        font-size: 12px;
        margin-top: -5px;

        &:first-of-type{
            margin-top: 5px;
        }
    }
}

// form label{
//     display: block;
//     width: 100%;
//     margin-bottom: 5px;
// }

/*
Form Control
=========================== */
.form-control{
    border: solid 1px #efefef;
    background: #fff;
    @extend .panel-shadow;
    padding: 15px 20px;
    min-height: 45px;
    display: block;
    width: 100% !important;
    font-size: 14px;
    font-family: $font-family;
    color: $color-content;
    resize: none;

    &.input-sm{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    &:disabled,
    &.ui-state-disabled{
        opacity: .8 !important;
        filter: alpha(opacity=80);
    }

    &.uppercase{
        text-transform: uppercase;
    }
}

.ui-inputgroup{
    .ui-calendar{
        width: 100% !important;
    }
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}