<!-- Start Wrap Panel -->
<div class="wrap-panel">

    <!-- Start Counter -->
    <div class="ui-g margin-bottom10">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <!-- Start Item -->
            <div class="item-panel">
                <div class="body-panel padding-bottom25">
                    <span class="fa fa-bg fa-shopping-cart"></span>
                    <h5 class="title">Total Reservation</h5>
                    <div class="counter success">
                        <h3 class="margin-bottom10">
                            1
                        </h3>
                        <div class="title margin-bottom10">
                            <small class="pull-right">10%</small>
                            <small>Daily report</small>
                        </div>
                        <p-progressBar [value]="10" [showValue]="false"></p-progressBar>
                    </div>
                </div>
            </div>
            <!-- Eng Item -->
        </div>
        <!-- <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="item-panel">
                <div class="body-panel padding-bottom25">
                    <span class="fa fa-bg fa-users"></span>
                    <h5 class="title">User Join Today</h5>
                    <div class="counter info">
                        <h3 class="margin-bottom10">
                            150
                        </h3>
                        <div class="title margin-bottom10">
                            <small class="pull-right">40%</small>
                            <small>Daily report</small>
                        </div>
                        <p-progressBar [value]="40" [showValue]="false"></p-progressBar>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="item-panel">
                <div class="body-panel padding-bottom25">
                    <span class="fa fa-bg fa-money"></span>
                    <h5 class="title">Saldo</h5>
                    <div class="counter danger">
                        <h3 class="title margin-bottom10">
                            $ 5,90
                        </h3>
                        <div class="margin-bottom10">
                            <small class="pull-right">10%</small>
                            <small>Daily report</small>
                        </div>
                        <p-progressBar [value]="10" [showValue]="false"></p-progressBar>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="item-panel">
                <div class="body-panel padding-bottom25">
                    <span class="fa fa-bg fa-bar-chart-o"></span>
                    <h5 class="title">Daily Tracking</h5>
                    <div class="counter warning">
                        <h3 class="title margin-bottom10">
                            150
                        </h3>
                        <div class="margin-bottom10">
                            <small class="pull-right">30%</small>
                            <small>Daily report</small>
                        </div>
                        <p-progressBar [value]="30" [showValue]="false"></p-progressBar>
                    </div>
                </div>
            </div>
        </div> -->
    </div> 
    <!-- End Counter -->

    <!-- Start Chart -->
    <!-- <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
            <div class="item-panel">
                <div class="head-panel">
                    <h5 class="title margin-bottom0">Chart Bars</h5>
                </div>
                <div class="body-panel">
                    <p-chart type="bar" [data]="data"></p-chart>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="item-panel">
                <div class="head-panel">
                    <h5 class="title margin-bottom0">Chart Bars</h5>
                </div>
                <div class="body-panel">
                    <p-chart type="bar" [data]="data"></p-chart>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Chart -->
</div>
<!-- End Wrap Panel -->

