<p>
  Create new password
</p>
<!-- Start Form -->
<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <div class="form-group margin-bottom20">
    <label>New Password</label>
    <input
      type="password"
      placeholder="Enter new password"
      name="password"
      minlength="5"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      required
      pPassword
    />
    <span
      class="error"
      *ngIf="passwordRef.errors?.required && passwordRef.touched"
      >This field is required</span
    >
  </div>
  <div class="form-group margin-bottom20">
    <label>Confirm Password</label>
    <input
      type="password"
      placeholder="Confirm new password"
      name="repassword"
      minlength="5"
      [(ngModel)]="repassword"
      #repasswordRef="ngModel"
      required
    />
    <span
      class="error"
      *ngIf="repasswordRef.errors?.required && repasswordRef.touched"
      >This field is required</span
    >
    <span class="error" *ngIf="password != repassword && repasswordRef.touched"
      >Confirm password not match</span
    >
  </div>
  <button
    type="submit"
    [disabled]="formRef.invalid || submitButton || password != repassword"
    class="btn btn-primary margin-bottom20"
  >
    <p-progressSpinner
      *ngIf="submitButton"
      strokeWidth="5"
      [style]="{ width: '30px', height: '30px' }"
    ></p-progressSpinner>
    <span *ngIf="!submitButton">Change password</span>
  </button>
</form>
<!-- End Form -->

<p-growl [(value)]="msgs" [life]="3000"></p-growl>
